$def with (user, data="")

<!-- HTML template for home -->

<h1>Open Chat - You are <b>$user</b></h1>

<a href="/logout">
  <button type="button">
    Logout
  </button>
</a>

<div class="chat">
<form id="form" action="/" method="POST">
    <textarea name="data" id="input" required></textarea>
    <button type="submit">Send</button>
    $if user == "admin":
      <button type="button" onclick="Delete();">
        Delete all
      </button>
</form>
</div>

<div id="chat">
  $:data
</div>


<script src="/static/script.js"></script>
