$def with (user, color)

<h1>You are $user <span class="usercolor" style="background-color: $color"></span></h1>
<p><span id="clients"></span> user(s) on the database <button type="button" onclick="toGo('exit');">Exit</button></p>
<form id="form" class="chat" action="/" method="POST">
    <textarea name="content" id="content" required></textarea>
    <button type="submit" id="submit">Send</button>
    <small><span id="characters">0</span> of 1024</small>
</form>
<div id="chat"></div>
<script src="/static/jquery-2.1.3.min.js"></script>
<script src="/static/script.js"></script>
